name: style
on:
  pull_request:
  push:
    branches: [ main ]
defaults:
  run:
    shell: bash
jobs:
  linter:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        docker_image: ['ros:humble-ros-base']
    container:
      image: ${{ matrix.docker_image }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: uncrustify
        run: |
          sudo apt update && sudo apt install wget
          wget https://raw.githubusercontent.com/open-rmf/rmf_utils/main/rmf_utils/test/format/rmf_code_style.cfg
          /ros_entrypoint.sh ament_uncrustify -c rmf_code_style.cfg . --language C++
